body { 
   margin: 0px;
   position: relative;
}
hr{
   border: dotted 8px;
   border-bottom: none;
   width: 4%;
   color: rgb(166, 206, 206);
   margin: 100px auto;
}
.top-container{
     background-color: rgb(180, 203, 204);
text-align: center;
padding-top: 250px;
     height: 600px; }
     .top-cloud{
        image-resolution: 300*200x;
        display: inline-block;
        position: absolute;
        top: 20px;
        right:140px;
      height: 160px;
     }
     .bot-cloud{
      image-resolution: 300*200x;
      display: inline-block;
      position: absolute;
      top: 110px;
      right: 300px;
   width: 150px;
     }
        .font1{
         font-family: 'Dancing Script', cursive;
         font-size: 90px;
         padding-bottom: 14px;
         color: rgb(103, 155, 155);
         margin-top: 20px;
         
      } 
      .fontp{
         padding: 20px;
         font-family: 'Ramaraja', serif;
         font-size: 40px;
         line-height: 0px;
         color: rgb(115, 148, 148);
         padding-top: 0px;
         margin-bottom: 33px;
         font-weight: normal;
      }
.mountain-1{
   width: 400px;
   position: absolute;
   top: 450px;
  right: 700px; 
}
.middle-container{
text-align: center;
color: rgb(115, 148, 148);
font-family: 'Ramaraja', serif;
font-size: 27px;
position: relative;
}
.bottom-container{
   display: block;
   text-align: center;
   margin: 10px auto 0px;
   color: rgb(115, 148, 148);
   font-family: 'Ramaraja', serif;
   font-size: 28px;
   background-color: rgb(127, 218, 202);
   height: 110px;
   position: relative;
      padding-bottom: 20px;
}
.skill-row{
   width: 50%;
   margin: 0 auto;
   text-align: left;
   line-height: 2;
}
.middle-container img{
   width: 25%;
   float: left;
   padding-right: 20px;
}
.btn1{
   border: 1px solid rgb(78, 65, 65);
   border-radius: 15%;
   padding: 1px 13px;
   background-color: rgb(101, 119, 113);
   color: aliceblue;
   text-decoration: none;
   font-size: 15px;
}
 .btn{
   border: 1px solid rgb(78, 66, 66);
   border-radius: 15%;
   padding: 1px 13px;
   padding-top: 0px;
   background-color: rgb(101, 119, 113);
   color: aliceblue;
   text-decoration: none;
   margin-top: 10px;
   font-size: 14px;
 } 
 .btn:hover{
    background-color: rgb(51, 59, 57);
    color: rgb(110, 129, 129);
    text-decoration: underline;
    font-size: 10px;
 }
 .btn1:hover{
   background-color: rgb(51, 59, 57);
    color: rgb(110, 129, 129);
   text-decoration: underline;
   font-size: 10px;
 }
 